body {
  font-family: Poppins, sans-serif;
  margin: 20px;
  padding: auto;
  background-color: #F7F5E6;
  }

form label {
  display: block;
  margin-bottom: 2px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

.imagen_desp {
  background-color: #52658F;
  width: 550px;
  height: auto;
  border-radius: 15px;
  border: 2px solid #333A56;
}

h1 {
  color: #F7F5E6;
  text-align: center;
  background-color: #52658F;
  border-radius: 15px;
}

h2 {
  color: #333A56;
  text-align: left;
}

h3 {
  color: #F7F5E6;
  text-align: left;
  font-size: 15px;
  background-color: #52658F;
  border-radius: 15px;
  padding: 5px;
}

h4 {
  text-align: left;
  font-size: 13px;
  color: #333A56;
  border-radius: 15px;
  padding: 10px;
}

.container_1 {
  display: center;
  justify-content: space-between;
  border: 3px solid #333A56;
  border-radius: 15px;
  padding: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #52658F;
  color: #F7F5E6;
  text-decoration: none;
  border-radius: 10px;
  margin: 1px;
}

button {
  display: inline-block;
  padding: 10px 15px;
  background: #52658F;
  color: #F7F5E6;
  text-decoration: none;
  border-radius: 10px;
  margin: 1px;
}